@use "../../../../../../shared/src/infrastructure/ui/styles/variables.scss" as
  variables;
@use "../../../../../../shared/src/infrastructure/ui/styles/mixins.scss" as
  mixins;

.card {
  @include mixins.card();

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    font-size: 1.2rem;
  }
}
