.main {
  &__no-data {
    font-size: 2.5rem;
    color: #888;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;

    left: 40%;
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 0.3s;
    user-select: none;
  }
}
