@use "../../styles/variables.scss" as variables;

.header {
  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 160px;
    height: 100dvh;
    background-color: variables.$bg-color-1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    z-index: 1000;

    &-menu {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &-item {
        list-style: none;
        padding: 15px;
        border-radius: 10px;
        transition: background-color 0.3s, color 0.3s;
        overflow: hidden;
        display: flex;
        align-items: center;

        &---selected {
          background-color: variables.$bg-color-active;
        }

        &:hover {
          background-color: variables.$bg-color-active;
          .header__nav-menu-icon {
            color: #fff;
          }
          .header__nav-menu-text {
            text-shadow: 0 0 10px #fff;
          }
        }
      }

      &-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
        color: variables.$secondary-color;
        font-weight: bold;
      }

      &-icon {
        color: variables.$primary-color;
        font-size: 2.5rem;
        text-align: center;
      }

      &-text {
        font-size: 1.2rem;
        transition: color 0.3s;
        color: variables.$secondary-color;
        letter-spacing: 0.1rem;
      }
    }
  }
}
