<nav class="header__nav" role="navigation" aria-label="Main navigation">
  <lib-logo></lib-logo>
  <menu class="header__nav-menu" role="menu" aria-label="Main menu navigation">
    @for (route of navRoutes; track route.path) {
    <li
      class="header__nav-menu-item"
      role="menuitem"
      [class.header__nav-menu-item---selected]="isRouteActive(route.path)"
    >
      <a
        class="header__nav-menu-link"
        [routerLink]="route.path"
        mat-icon-button
        [title]="route.name"
      >
        <mat-icon class="header__nav-menu-icon">{{ route.icon }}</mat-icon>
        <span class="header__nav-menu-text">{{ route.name }}</span>
      </a>
    </li>
    }
  </menu>
</nav>
