@use "../../styles/variables.scss" as variables;

.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: variables.$secondary-color;

  &__main {
    width: calc(100dvw - 190px);
    padding-block: 20px;
    align-self: flex-end;
    height: 100dvh;
  }
}
