<div class="card">
  <h3 class="card__name">{{ dish.name }}</h3>
  <p>ID: {{ dish.id }}</p>
  <p>Price: {{ dish.price | currency : "USD" : "symbol" : "1.2-2" }}</p>
  <p>Description: {{ dish.description }}</p>
  <p>Is Popular: {{ dish.isPopular }}</p>
  <lib-btns-actions
    (editAction)="editDish()"
    (deleteAction)="openModal()"
  ></lib-btns-actions>

  @if (isModalOpen) {
  <lib-confirm-modal
    [title]="'Confirm Deletion'"
    [message]="'Are you sure you want to delete this dish?'"
    (confirm)="confirmDelete()"
    (cancel)="closeModal()"
  ></lib-confirm-modal
  >}
</div>
