$primary-color: #ea7c69;
$primary-color-dark: #ab5a4c;
$secondary-color: #e0e6e9;
$bg-color-1: #23252f;
$bg-color-2: #181624;
$bg-color-active: rgba(235, 150, 106, 0.4);
$padding: 15px;
$shadow-box: 7px 7px 20px rgba(118, 118, 118, 0.1);

$no-p-color: #f44336;
$yes-p-color: #4caf50;
