<div class="card">
  <h3 class="card__name">Customer ID: {{ reservation.customerId }}</h3>
  <p>Id: {{ reservation.id }}</p>
  <p class="card__time">
    Time:
    {{ reservation.time | date : "yyyy-MM-dd HH:mm" : "-06:00" }}
  </p>
  <p class="card__people">People: {{ reservation.people }}</p>
  <p class="card__status">Status: {{ reservation.status }}</p>

  <lib-btns-actions
    (editAction)="editReservation()"
    (deleteAction)="openModal()"
  ></lib-btns-actions>

  @if (isModalOpen) {
  <lib-confirm-modal
    [title]="'Confirm Deletion'"
    [message]="'Are you sure you want to delete this reservation?'"
    (confirm)="confirmDelete()"
    (cancel)="closeModal()"
  ></lib-confirm-modal
  >}
</div>
