<section class="main" aria-label="Customer Management">
  <lib-page-title [title]="title"></lib-page-title>
  <lib-add [link]="addLink"></lib-add>
  @if (customers.length>0) {
  <lib-bg-imgage
    [src]="srcImage"
    [alt]="altImage"
    [title]="titleImage"
  ></lib-bg-imgage>
  <div class="main__container">
    @for (customer of customers; track $index) {
    <lib-customer-card
      (deleteCustomer)="deleteCustomer.emit(customer.id)"
      [customer]="customer"
    ></lib-customer-card>
    }
  </div>
  } @else {
  <lib-no-data-label></lib-no-data-label>
  }
</section>
