<section class="main">
  <div class="main__container">
    <img src="logo.png" alt="" class="main__logo" />
    <hgroup class="main__content">
      <h1 class="main__title">
        Welcome to our Restaurant <br />
        Management System
      </h1>
      <h2 class="main__description">
        Efficient and user-friendly restaurant management system. Manage
        reservations, orders, and more with our application. Streamline your
        restaurant operations and enhance customer satisfaction.
      </h2>
    </hgroup>
  </div>
  <a class="main__start" [routerLink]="'/customers'">Get Started</a>
</section>
