@use "../../../../../../shared/src/infrastructure/ui/styles/variables.scss" as
  variables;
@use "../../../../../../shared/src/infrastructure/ui/styles/mixins.scss" as
  mixins;

.main {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  &__logo {
    width: 8dvw;
    height: auto;
    filter: drop-shadow(0 0 20px variables.$primary-color);
  }

  &__title {
    @include mixins.title();
  }

  &__description {
    font-size: 1.7rem;
    text-align: center;
    letter-spacing: 0.2rem;
    width: 45%;
    color: variables.$secondary-color;
  }

  &__start {
    background-color: variables.$primary-color;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 2rem;

    text-transform: uppercase;
    letter-spacing: 0.2rem;
    box-shadow: 0 2px 10px variables.$primary-color;

    &:hover {
      background-color: #fff;
      color: variables.$primary-color;
      transition: 0.3s;
      cursor: pointer;
    }
    &:active {
      transform: scale(0.95);
      transition: 0.15s;
    }
  }
}
