<section
  class="main__container"
  aria-label="Form"
  aria-busy="false"
  aria-live="polite"
  aria-relevant="all"
>
  <form
    class="main__form"
    [formGroup]="formGroup"
    (ngSubmit)="submit()"
    aria-label="Form"
    role="form"
  >
    @for (config of formConfig; track $index) {

    <app-custom-input
      [formGroup]="formGroup"
      [config]="config"
      [menuId]="config.label === 'Dishes' ? menuId : null"
      [orderId]="config.label === 'dishes' ? orderId : null"
    ></app-custom-input>

    }
    <div class="main__form-actions">
      <button
        class="main__form-submit"
        type="submit"
        [disabled]="formGroup.invalid"
        aria-label="Submit"
        role="button"
        aria-disabled="false"
      >
        Submit
      </button>
      <button
        class="main__form-cancel"
        type="button"
        (click)="cancel()"
        aria-label="Cancel"
        role="button"
      >
        Cancel
      </button>
    </div>
  </form>
</section>
