<div class="card" aria-label="Order" role="article">
  <h3 class="card__name" aria-label="Order ID">ORDER ID: {{ order.id }}</h3>
  <p aria-label="Order ID">Reservation ID:{{ order.reservationId }}</p>
  <p aria-label="Total Price">
    Total Price: {{ order.totalPrice | currency : "USD" : "symbol" : "1.2-2" }}
  </p>
  <p class="card__subtitle">Dishes</p>
  <ul class="card__list">
    @for (dish of order.dishes; track $index) {
    <li class="card__list-item">
      {{ dish.name }} - {{ dish.price | currency : "USD" : "symbol" : "1.2-2" }}
    </li>
    }
  </ul>

  <lib-btns-actions
    (editAction)="editOrder()"
    (deleteAction)="openModal()"
  ></lib-btns-actions>

  @if (isModalOpen) {
  <lib-confirm-modal
    [title]="'Confirm Deletion'"
    [message]="'Are you sure you want to delete this order?'"
    (confirm)="confirmDelete()"
    (cancel)="closeModal()"
  ></lib-confirm-modal>
  }
</div>
